<div
  class="min-w-56 md:min-w-72 max-w-4xl bg-white rounded-xl shadow-sm md:shadow-lg overflow-hidden border cursor-pointer"
  (click)="selectMeal(meal)"
>
  <!-- Image de fond -->
  <div class="relative">
    <img
      [src]="
        meal.photo_url
          ? meal.photo_url
          : '../../../assets/images/default_cover.png'
      "
      alt="Photo de plat"
      class="w-full h-20 md:h-48 object-cover"
    />
    <div
      class="absolute inset-0 rounded-md pointer-events-none"
      style="box-shadow: inset 0 -60px 60px rgba(0, 0, 0, 0.5)"
    ></div>
    <!-- Badge en haut à droite Desktop -->
    <span
      class="hidden md:block absolute top-2 md:top-3 right-2 md:right-3 bg-orange-500 text-white text-xs md:text-sm font-semibold px-3 py-1 rounded-full"
    >
      x plat(s) disponible(s)
    </span>

    <!-- Badge en haut à droite Mobile -->
    <span
      class="block md:hidden absolute top-2 md:top-3 right-2 md:right-3 bg-orange-500 text-white text-xs md:text-sm font-semibold px-3 py-1 rounded-full"
    >
      x plat(s)
    </span>

    <!-- Photo de profil et nom -->
    <div
      class="absolute bottom-3 left-3 flex items-center space-x-2 p-2 rounded-md"
    >
      <img
        [src]="
          meal.user && meal.user.avatar
            ? meal.user.avatar
            : '../../../assets/images/default_avatar.jpg'
        "
        alt="John D."
        class="w-10 h-10 rounded-full border-2 border-white"
      />
      <p class="text-white text-sm font-semibold">
        {{ meal.user.first_name }} {{ meal.user.last_name }}
      </p>
    </div>
  </div>

  <!-- Contenu principal -->
  <div class="p-2 md:p-4">
    <h3 class="text-sm md:text-lg md:font-semibold text-gray-800">
      {{ meal.name }}
    </h3>
    <p
      class="text-xs md:text-sm text-gray-600 md:mt-2 font-extralight md:font-light"
    >
      {{ meal.date_start | formatDateTime : meal.date_end }}
    </p>
    <div class="flex items-center mt-1 md:mt-2">
      <p
        class="text-xs md:text-sm md:font-semibold text-gray-800 flex items-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="red"
          class="inline w-5 h-5 align-text-bottom"
        >
          <path
            d="M12 2C8.686 2 6 4.686 6 8c0 5.25 6 12 6 12s6-6.75 6-12c0-3.314-2.686-6-6-6zm0 8.25a2.25 2.25 0 110-4.5 2.25 2.25 0 010 4.5z"
          />
        </svg>
        {{ meal.collect_address }}, {{ meal.collect_city }}
      </p>
    </div>

    <!-- Détails supplémentaires -->
    <div
      class="flex items-center justify-between mt-1 md:mt-4 text-xs md:text-md"
    >
      <div class="flex items-center text-gray-500 space-x-2">
        <span class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 text-orange-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M9.049 2.927C9.469 1.769 10.531 1.769 10.951 2.927L12.454 6.891C12.671 7.472 13.416 7.907 14.034 7.75L18.057 6.659C19.305 6.327 19.687 7.86 18.737 8.741L15.88 11.28C15.325 11.782 15.213 12.586 15.667 13.084L18.382 15.863C19.296 16.827 18.548 18.322 17.204 18.322H13.203C12.504 18.322 11.943 18.8 11.854 19.496L11.317 23.224C11.111 24.581 9.889 24.581 9.683 23.224L9.146 19.496C9.057 18.8 8.496 18.322 7.797 18.322H3.796C2.452 18.322 1.704 16.827 2.618 15.863L5.333 13.084C5.787 12.586 5.675 11.782 5.12 11.28L2.263 8.741C1.313 7.86 1.695 6.327 2.943 6.659L6.966 7.75C7.584 7.907 8.329 7.472 8.546 6.891L10.049 2.927H9.049Z"
            />
          </svg>

          <span class="ml-1">4.2 | 2.6 km</span>
        </span>
      </div>
      <p class="md:text-lg md:font-bold text-gray-800">2,99€</p>
    </div>
  </div>
</div>
