<div class="min-h-screen container mx-auto">
    <!-- Header -->
    <div class="flex flex-col justify-center items-center py-6">
        <h1 class="text-2xl text-lightSalmon">Proposer un plat</h1>
        <p class="text-sm text-gray-500">Évitons le gaspillage ensemble !</p>

        <a href="#" class="bg-lightSalmon text-xl text-white px-6 py-3 rounded-full shadow-xl hover:bg-orange-500 mt-6 mb-4 font-poppins w-3/4 text-center">
            Je propose un plat !
        </a>
    </div>

    <!-- Historique des plats proposés -->
    <div class="px-4">
      <h2 class="text-gray-700 mb-4">Historique des plats proposés</h2>

      <div class="mb-6">
        <div *ngFor="let group of getGroupedMeals()">
          <h3 class="text-center text-sm text-gray-600 mb-2">{{ getGroupLabel(group.key) }}</h3>

          <div class="mb-6 md:grid md:grid-cols-3 md:gap-4">
            <div *ngFor="let meal of group.value" >
              
              <div class="flex items-center rounded-lg shadow-md relative overflow-hidden min-h-full">

                <div class="meal-picture w-24">
                  <img [src]="meal.photo_url || 'https://via.placeholder.com/120'" alt="plat" class="min-h-full
               object-cover">
                </div>

                <div class="flex flex-col justify-center py-2 px-3 w-3/4">
                  <h4 class="text-gray-800 font-semibold">{{ meal.name }}</h4>
                  <p class="text-sm text-gray-600">1 plat proposé • 0 plat récupéré</p>
                  <p class="text-xs text-gray-500">
                    {{ formatMealDateTime(meal.date_start, meal.date_end) }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <!-- Navigation en bas de page -->
    <div class="fixed bottom-0 left-0 right-0 bg-white shadow-md">
      <div class="flex justify-around py-3">
        <button class="text-gray-600 hover:text-gray-800">
          <span class="material-icons">explore</span>
          <p class="text-xs">Découvrir</p>
        </button>
        <button class="text-gray-600 hover:text-gray-800">
          <span class="material-icons">shopping_bag</span>
          <p class="text-xs">Collecte</p>
        </button>
        <button class="text-orange-600">
          <span class="material-icons">restaurant</span>
          <p class="text-xs">Proposer</p>
        </button>
        <button class="text-gray-600 hover:text-gray-800">
          <span class="material-icons">person</span>
          <p class="text-xs">Profil</p>
        </button>
      </div>
    </div>
  </div>
  