<div class="min-h-screen bg-gray-50 flex flex-col">
  <header class="bg-salmon text-white p-4 flex items-center space-x-4">
    <button
      class="flex items-center space-x-2 bg-darkSalmon p-2 rounded-md hover:bg-lightSalmon transition"
      (click)="goBack()"
    >
      <svg
        class="w-5 h-5"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
      <span>Retour</span>
    </button>
    <h1 class="ml-4 text-xl font-semibold">Créer un repas</h1>
  </header>

  <main class="flex-1 p-6 bg-white dark:bg-gray-100 rounded-lg shadow-lg">
    <app-formulaire
      [fields]="fields"
      [groupValidators]="groupValidators"
      [isLoading]="isLoading"
      (submit)="onSubmit($event)"
    ></app-formulaire>
  </main>
</div>
