<div class="min-h-screen">
  <div class="home-container h-full flex justify-center bg-gray-50">
    <div class="container content p-2 w-full rounded-lg shadow-xs">
      <div class="mb-5">
        <app-page-info-header [coverImage]="coverImage" [userImage]="userImage" [userName]="userName" [dishName]="dishName" [timeRange]="timeRange"></app-page-info-header>
      </div>
      <app-page-info-content [showSendMessage]="showSendMessage" [showCodeBox]="showCodeBox" [showCollectorGuide]="showCollectorGuide" [city]="city" [adress]="adress" [userName]="userName" [commandId]="commandId"></app-page-info-content>
    </div>
  </div>
</div>
