<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">
      <ng-container *ngFor="let item of navItems">
        <a
          [routerLink]="item.link"
          routerLinkActive="text-darkSalmon"
          [routerLinkActiveOptions]="{ exact: true }"
          class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group"
        >
          <svg
            class="mb-1 text-gray-500"
            [ngClass]="{'text-darkSalmon': isActive(item.link), 'text-gray-500': !isActive(item.link)}"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path [attr.d]="item.iconPath"></path>
          </svg>
          <span
            [ngClass]="{'text-darkSalmon': isActive(item.link), 'text-gray-500': !isActive(item.link)}"
            class="text-sm"
          >
            {{ item.label }}
          </span>
        </a>
      </ng-container>
      <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" (click)="logoutUser()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="mb-1 text-gray-500" stroke="currentColor" width="24" height="24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
          </svg>          
        <span class="text-sm text-gray-500">Logout</span>
    </button>
    </div>
  </div>
  